* {
    box-sizing: border-box;
}

body {
    display: grid;
    margin: 0;
    font-family: Helvetica, sans-serif;
    background-color: rgba(195, 195, 195, 0.9);
    grid-template-columns: 1fr 1fr;
    grid-row: auto;
    grid-template-areas:
    "header header"
    ". d-container"
    "cf  d-field"
    "c-container .";
}

header {
    grid-area: header;
    display: flex;
    justify-content: center;
}

#d-container {
    grid-area: d-container;
    display: flex;
}

#d-field {
    grid-area: d-field;
    display: flex;
    justify-content: flex-start;

}

#c-field {
    grid-area: cf;
    display: flex;
    justify-content: flex-end;

}

#message { 
    flex-grow: 10;
    justify-items: flex-end;
}

#c-container { 
    grid-area: c-container;
    margin: 0;;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "name  challenger"
    "chal-deck challenger";
    justify-content: end
}

#c-name { 
    grid-area: name;
    justify-self: end;
}

#chal-deck { 
    grid-area: chal-deck;
    justify-self: end;
}

#challenger { 
    grid-area: challenger;
    justify-self: end;

}

#d-container { 
    grid-area: d-container;
    margin: 0;;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "dealer  name"
    "dealer deal-deck";
    justify-content: end
}

#d-name { 
    grid-area: name;
}

#deal-deck { 
    grid-area: deal-deck;
}

#dealer { 
    grid-area: dealer;
}

button { 
    background-color: transparent;
    flex-grow: 10;
    font-size: 2rem;
}
