* {
    box-sizing: border-box;
}

body {
    display: grid;
    margin: 0;
    font-family: Helvetica, sans-serif;
    background-color: rgba(195, 195, 195, 0.9);
    grid-template-columns: 1fr 1fr;
    grid-row: auto;
    grid-template-areas:
    "header header"
    ". d-container"
    "cf  d-field"
    "c-container .";
}

header {
    grid-area: header;
    display: flex;
    justify-content: center;
}

#d-container {
    grid-area: d-container;
    display: flex;
}

#d-field {
    grid-area: d-field;
    display: flex;

}

#c-field {
    grid-area: cf;
    display: flex;
    justify-content: flex-end;

}

#c-container { 
    grid-area: c-container;
    display: flex;
    justify-content: flex-end;
}

button { 
    background-color: transparent;
    flex-grow: 12;
    font-size: 2rem;

}
